In [80]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://packages.microsoft.com/ubuntu/16.04/prod xenial InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 88.7 kB in 3s (34.1 kB/s)
Reading package lists... Done

In [81]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-05-24 05:14:08--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.3’

postgresql-42.2.16. 100%[===================>] 979.38K  4.83MB/s    in 0.2s

2022-05-24 05:14:09 (4.83 MB/s) - ‘postgresql-42.2.16.jar.3’ saved [1002883/1002883]

In [82]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [83]:
#aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com

# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://myosus32022buk.s3.amazonaws.com/census_estimates.csv"
spark.sparkContext.addFile(url)
CountyPop_df = spark.read.csv(SparkFiles.get("census_estimates.csv"), sep=",", header=True, inferSchema=True)

In [84]:
CountyPop_df.show()

+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
|         _c0|Revised Population Estimate July 1, 2020|Certified Population Estimate July 1, 2021|Population Change 2020-2021|Percent Change 2020-2021| _c5| _c6| _c7| _c8| _c9|_c10|_c11|_c12|_c13|_c14|
+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
|     Oregon |                               4,243,791|                                 4,266,560|                     22,769|                   0.54%|null|null|null|null|null|null|null|null|null|null|
|      BAKER |                                  16,721|                                    16,860|                        139|                   0.83%|null|null|null|null|null|null|null|null|null|null|
|     BENTON |                                  95,316|                                    93,976|                     -1,340|                  -1.41%|null|null|null|null|null|null|null|null|null|null|
|  CLACKAMAS |                                 422,185|                                   425,316|                      3,131|                   0.74%|null|null|null|null|null|null|null|null|null|null|
|    CLATSOP |                                  41,137|                                    41,428|                        291|                   0.71%|null|null|null|null|null|null|null|null|null|null|
|   COLUMBIA |                                  52,748|                                    53,014|                        266|                   0.50%|null|null|null|null|null|null|null|null|null|null|
|       COOS |                                  64,958|                                    65,154|                        196|                   0.30%|null|null|null|null|null|null|null|null|null|null|
|      CROOK |                                  24,866|                                    25,482|                        616|                   2.48%|null|null|null|null|null|null|null|null|null|null|
|      CURRY |                                  23,510|                                    23,662|                        152|                   0.65%|null|null|null|null|null|null|null|null|null|null|
|  DESCHUTES |                                 199,259|                                   203,390|                      4,131|                   2.07%|null|null|null|null|null|null|null|null|null|null|
|    DOUGLAS |                                 111,214|                                   111,694|                        480|                   0.43%|null|null|null|null|null|null|null|null|null|null|
|    GILLIAM |                                   1,995|                                     2,039|                         44|                   2.21%|null|null|null|null|null|null|null|null|null|null|
|      GRANT |                                   7,239|                                     7,226|                        -13|                  -0.18%|null|null|null|null|null|null|null|null|null|null|
|     HARNEY |                                   7,497|                                     7,537|                         40|                   0.53%|null|null|null|null|null|null|null|null|null|null|
| HOOD RIVER |                                  23,949|                                    23,888|                        -61|                  -0.25%|null|null|null|null|null|null|null|null|null|null|
|    JACKSON |                                 223,521|                                   223,827|                        306|                   0.14%|null|null|null|null|null|null|null|null|null|null|
|  JEFFERSON |                                  24,553|                                    24,889|                        336|                   1.37%|null|null|null|null|null|null|null|null|null|null|
|  JOSEPHINE |                                  88,204|                                    88,728|                        524|                   0.59%|null|null|null|null|null|null|null|null|null|null|
|    KLAMATH |                                  69,512|                                    69,822|                        310|                   0.45%|null|null|null|null|null|null|null|null|null|null|
|       LAKE |                                   8,165|                                     8,177|                         12|                   0.15%|null|null|null|null|null|null|null|null|null|null|
+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [85]:
url ="https://myosus32022buk.s3.amazonaws.com/County%20Product%20Trend_Full%20Data_data.csv"
spark.sparkContext.addFile(url)
CountyProductData_df = spark.read.csv(SparkFiles.get("County Product Trend_Full Data_data.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
CountyProductData_df.show()

+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
|     Date|       Product Type|   County|Month Name|Month Year|Tooltip Date|Market Share County|   Sales|Sales Detail|
+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
|10/1/2016|          Usable MJ|    Baker|   October| 10/1/2016|October 2016|              100.0|58637.51|    58637.51|
|10/1/2016|          Usable MJ|    Baker|   October| 10/1/2016|October 2016|              100.0|   441.0|       441.0|
|10/1/2016|Concentrate/Extract|Clackamas|   October| 10/1/2016|October 2016|              15.14|   803.2|       803.2|
|10/1/2016|    Edible/Tincture|Clackamas|   October| 10/1/2016|October 2016|               9.31|  359.68|      359.68|
|10/1/2016|              Other|Clackamas|   October| 10/1/2016|October 2016|               1.13|    30.0|        30.0|
|10/1/2016|          Usable MJ|Clackamas|   October| 10/1/2016|October 2016|              74.42| 4416.94|     4416.94|
|10/1/2016|Concentrate/Extract|Clackamas|   October| 10/1/2016|October 2016|              15.14|   144.0|       144.0|
|10/1/2016|    Edible/Tincture|Clackamas|   October| 10/1/2016|October 2016|               9.31|  223.05|      223.05|
|10/1/2016|              Other|Clackamas|   October| 10/1/2016|October 2016|               1.13|    40.5|        40.5|
|10/1/2016|          Usable MJ|Clackamas|   October| 10/1/2016|October 2016|              74.42|   238.8|       238.8|
|10/1/2016|Concentrate/Extract|  Clatsop|   October| 10/1/2016|October 2016|              19.55| 10808.0|     10808.0|
|10/1/2016|    Edible/Tincture|  Clatsop|   October| 10/1/2016|October 2016|               5.61|  3177.0|      3177.0|
|10/1/2016|              Other|  Clatsop|   October| 10/1/2016|October 2016|               1.79|  1014.0|      1014.0|
|10/1/2016|          Usable MJ|  Clatsop|   October| 10/1/2016|October 2016|              73.04|42128.05|    42128.05|
|10/1/2016|Concentrate/Extract|  Clatsop|   October| 10/1/2016|October 2016|              19.55|  2249.0|      2249.0|
|10/1/2016|    Edible/Tincture|  Clatsop|   October| 10/1/2016|October 2016|               5.61|   570.5|       570.5|
|10/1/2016|              Other|  Clatsop|   October| 10/1/2016|October 2016|               1.79|   184.0|       184.0|
|10/1/2016|          Usable MJ|  Clatsop|   October| 10/1/2016|October 2016|              73.04| 6653.24|     6653.24|
|10/1/2016|Concentrate/Extract|Deschutes|   October| 10/1/2016|October 2016|              12.36| 9588.78|     9588.78|
|10/1/2016|    Edible/Tincture|Deschutes|   October| 10/1/2016|October 2016|               8.56| 6546.11|     6546.11|
+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
only showing top 20 rows

In [86]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')

#SQLAlcehmy
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///example.db', echo=True)
connstring = 'postgresql://postgres:'+password+'@aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/AWSFP20'
engine = create_engine(connstring, echo=True)
conn = engine.connect()
# from sqlalchemy.orm import sessionmaker
#dont need Session = sessionmaker(bind=engine)
#dont need session = Session()
rs = conn.execute("DROP TABLE IF EXISTS canabisdatatest;")
rs = conn.execute("DROP TABLE IF EXISTS canabisdatatrimtest;")
rs = conn.execute("DROP TABLE IF EXISTS countypoptest;")
rs = conn.execute("DROP TABLE IF EXISTS complete_county_datatest;")



# Configure settings for RDS
mode = "append"
#aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com
jdbc_url="jdbc:postgresql://aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/AWSFP20"
config = {"user":"postgres",
        "password": password,
        "driver":"org.postgresql.Driver"}

Enter database password··········
2022-05-24 05:14:14,988 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-05-24 05:14:14,994 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:15,038 INFO sqlalchemy.engine.Engine select current_schema()
2022-05-24 05:14:15,042 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:15,079 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-05-24 05:14:15,083 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:15,120 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdatatest;
2022-05-24 05:14:15,122 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:15,162 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:15,186 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdatatrimtest;
2022-05-24 05:14:15,188 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:15,224 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:15,248 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS countypoptest;
2022-05-24 05:14:15,256 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:15,292 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:15,316 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS complete_county_datatest;
2022-05-24 05:14:15,323 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:15,358 INFO sqlalchemy.engine.Engine COMMIT

In [87]:
# Write DataFrame to CountyPop table in RDS
CountyPop_df.write.jdbc(url=jdbc_url, table='countypoptest', mode=mode, properties=config)

In [88]:
# Write DataFrame to CanabisData table in RDS
CountyProductData_df.write.jdbc(url=jdbc_url, table='canabisdatatest', mode=mode, properties=config)

In [89]:
#This is Code Directly Ported from a Query Editor in Postgres
#--
#--
#--reworked our draft SQL to work with tables direct imported from CSV (in AWS File Bucket) to AWS Postgres 
#--
#--
#
#--The AWS table created from CVS are
#--
#-- 1 "County Product Trend_Full Data_data.csv"   ===>>>   public.canabisdatatest
#-- 2 "census_estimates.csv"                      ===>>>   public.countypoptest
#
#-- 1 public.canabisdatatest is projected into canabisdatatrimtest as a smaller table with fewer features
#--    the date column is formated to be ready for encoding in python
# CREATE TABLE canabisdatatrimtest AS
# SELECT "County" AS county,
#     date_part('month', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesmonth, 
# 	date_part('year', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesyear, 
# 	"Product Type" as product, 
# 	MAX("Market Share County") as marketshare, 
#     SUM("Sales") AS sales
# FROM public."canabisdatatest"
# GROUP BY "County", "Month Name", "Month Year", "Product Type"
# ORDER BY "County", "Month Name", "Month Year", "Product Type";

#-----------------------------------------------------
rs = conn.execute("CREATE TABLE canabisdatatrimtest AS SELECT \"County\" AS county, date_part('month', TO_DATE(\"Month Year\", 'mm/dd/yyyy')) AS salesmonth, date_part('year', TO_DATE(\"Month Year\", 'mm/dd/yyyy')) AS salesyear, \"Product Type\" as product, MAX(\"Market Share County\") as marketshare, SUM(\"Sales\") AS sales FROM public.\"canabisdatatest\" GROUP BY \"County\", \"Month Name\", \"Month Year\", \"Product Type\" ORDER BY \"County\", \"Month Name\", \"Month Year\", \"Product Type\";")
#-----------------------------------------------------


# -- 2 public.countypoptest is altered to have fewer features
# --    and renamed columns
# ALTER TABLE public."countypoptest"
# 	DROP COLUMN _c5, 
# 	DROP COLUMN _c6, 
# 	DROP COLUMN _c7, 
# 	DROP COLUMN _c8, 
# 	DROP COLUMN _c9, 
# 	DROP COLUMN _c10, 
# 	DROP COLUMN _c11, 
# 	DROP COLUMN _c12, 
# 	DROP COLUMN _c13, 
# 	DROP COLUMN _c14,
# 	DROP COLUMN "Certified Population Estimate July 1, 2021", 
# 	DROP COLUMN "Population Change 2020-2021", 
# 	DROP COLUMN "Percent Change 2020-2021";

#-----------------------------------------------------
rs = conn.execute("ALTER TABLE public.\"countypoptest\" DROP COLUMN _c5, DROP COLUMN _c6, DROP COLUMN _c7, DROP COLUMN _c8, DROP COLUMN _c9, DROP COLUMN _c10, DROP COLUMN _c11, DROP COLUMN _c12, DROP COLUMN _c13, DROP COLUMN _c14, DROP COLUMN \"Certified Population Estimate July 1, 2021\", DROP COLUMN \"Population Change 2020-2021\", DROP COLUMN \"Percent Change 2020-2021\";")
#-----------------------------------------------------


# ALTER TABLE public."countypoptest"
# 	RENAME COLUMN _c0 to county;

#-----------------------------------------------------
rs = conn.execute("ALTER TABLE public.\"countypoptest\" RENAME COLUMN _c0 to county;")
#-----------------------------------------------------


# ALTER TABLE public."countypoptest"
# 	RENAME COLUMN "Revised Population Estimate July 1, 2020" to population;

#-----------------------------------------------------
rs = conn.execute("ALTER TABLE public.\"countypoptest\" RENAME COLUMN \"Revised Population Estimate July 1, 2020\" to population;")
#-----------------------------------------------------


# -- here we trim out the ','
# UPDATE public."countypoptest"
# SET population = replace(population, ',', '');

#-----------------------------------------------------
rs = conn.execute("UPDATE public.\"countypoptest\" SET population = replace(population, ',', '');")
#-----------------------------------------------------


# -- here we remove any spaces (two word counties are now one word, thats ok)
# UPDATE public."countypoptest"
# SET county = replace(county, ' ', '') ;

#-----------------------------------------------------
rs = conn.execute("UPDATE public.\"countypoptest\" SET county = replace(county, ' ', '') ;")
#-----------------------------------------------------


# -- again, here we remove any spaces (two word counties are now one word, thats ok)
# UPDATE canabisdatatrimtest
# SET County = replace(county, ' ', '');

#-----------------------------------------------------
rs = conn.execute("UPDATE canabisdatatrimtest SET County = replace(county, ' ', '');")
#-----------------------------------------------------


# -- Take Table 1 and 2 project them through a left join(favoring Sales data table)
# SELECT
# 	public.canabisdatatrimtest.county, 
# 	public.countypoptest.population, 
# 	public.canabisdatatrimtest.salesmonth, 
# 	public.canabisdatatrimtest.salesyear, 
# 	public.canabisdatatrimtest.product, 
# 	public.canabisdatatrimtest.marketshare, 
# 	public.canabisdatatrimtest.sales
# INTO complete_county_datatest
# FROM public.canabisdatatrimtest
# 	LEFT JOIN public.countypoptest
# 	ON lower(public.canabisdatatrimtest.county) = lower(public.countypoptest.county)
# ORDER BY canabisdatatrimtest.county;

#-----------------------------------------------------
rs = conn.execute("SELECT public.canabisdatatrimtest.county, public.countypoptest.population, public.canabisdatatrimtest.salesmonth, public.canabisdatatrimtest.salesyear, public.canabisdatatrimtest.product, public.canabisdatatrimtest.marketshare, public.canabisdatatrimtest.sales INTO complete_county_datatest FROM public.canabisdatatrimtest LEFT JOIN public.countypoptest ON lower(public.canabisdatatrimtest.county) = lower(public.countypoptest.county) ORDER BY canabisdatatrimtest.county;")
#-----------------------------------------------------


# --We can drop the tables created from the CSV(so they can be created again if re-run)
# --    and the extra tables used for cleaning
# DROP TABLE [IF EXISTS] canabisdatatest;
# DROP TABLE canabisdatatrimtest;
# DROP TABLE countypoptest;

#-----------------------------------------------------
rs = conn.execute("DROP TABLE IF EXISTS canabisdatatest;")
rs = conn.execute("DROP TABLE IF EXISTS canabisdatatrimtest;")
rs = conn.execute("DROP TABLE IF EXISTS countypoptest;")
#-----------------------------------------------------


# -- The finished product
# SELECT county, population, salesmonth, salesyear, product, marketshare, sales
# FROM public.complete_county_datatest;

# #-----------------------------------------------------
rs = conn.execute("SELECT county, population, salesmonth, salesyear, product, marketshare, sales FROM public.complete_county_datatest;") # THIS IS THE DATASET WE WANT!!!!!!!!!!!!!!!!!!!!!!!
# #-----------------------------------------------------

print(rs)

2022-05-24 05:14:19,863 INFO sqlalchemy.engine.Engine CREATE TABLE canabisdatatrimtest AS SELECT "County" AS county, date_part('month', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesmonth, date_part('year', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesyear, "Product Type" as product, MAX("Market Share County") as marketshare, SUM("Sales") AS sales FROM public."canabisdatatest" GROUP BY "County", "Month Name", "Month Year", "Product Type" ORDER BY "County", "Month Name", "Month Year", "Product Type";
2022-05-24 05:14:19,865 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:19,983 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,043 INFO sqlalchemy.engine.Engine ALTER TABLE public."countypoptest" DROP COLUMN _c5, DROP COLUMN _c6, DROP COLUMN _c7, DROP COLUMN _c8, DROP COLUMN _c9, DROP COLUMN _c10, DROP COLUMN _c11, DROP COLUMN _c12, DROP COLUMN _c13, DROP COLUMN _c14, DROP COLUMN "Certified Population Estimate July 1, 2021", DROP COLUMN "Population Change 2020-2021", DROP COLUMN "Percent Change 2020-2021";
2022-05-24 05:14:20,045 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,083 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,102 INFO sqlalchemy.engine.Engine ALTER TABLE public."countypoptest" RENAME COLUMN _c0 to county;
2022-05-24 05:14:20,103 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,137 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,156 INFO sqlalchemy.engine.Engine ALTER TABLE public."countypoptest" RENAME COLUMN "Revised Population Estimate July 1, 2020" to population;
2022-05-24 05:14:20,157 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,191 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,209 INFO sqlalchemy.engine.Engine UPDATE public."countypoptest" SET population = replace(population, ',', '');
2022-05-24 05:14:20,211 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,248 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,267 INFO sqlalchemy.engine.Engine UPDATE public."countypoptest" SET county = replace(county, ' ', '') ;
2022-05-24 05:14:20,269 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,303 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,322 INFO sqlalchemy.engine.Engine UPDATE canabisdatatrimtest SET County = replace(county, ' ', '');
2022-05-24 05:14:20,324 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,377 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,401 INFO sqlalchemy.engine.Engine SELECT public.canabisdatatrimtest.county, public.countypoptest.population, public.canabisdatatrimtest.salesmonth, public.canabisdatatrimtest.salesyear, public.canabisdatatrimtest.product, public.canabisdatatrimtest.marketshare, public.canabisdatatrimtest.sales INTO complete_county_datatest FROM public.canabisdatatrimtest LEFT JOIN public.countypoptest ON lower(public.canabisdatatrimtest.county) = lower(public.countypoptest.county) ORDER BY canabisdatatrimtest.county;
2022-05-24 05:14:20,402 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,468 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdatatest;
2022-05-24 05:14:20,470 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,488 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,524 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdatatrimtest;
2022-05-24 05:14:20,527 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,564 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,584 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS countypoptest;
2022-05-24 05:14:20,587 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-24 05:14:20,624 INFO sqlalchemy.engine.Engine COMMIT
2022-05-24 05:14:20,644 INFO sqlalchemy.engine.Engine SELECT county, population, salesmonth, salesyear, product, marketshare, sales FROM public.complete_county_datatest;
2022-05-24 05:14:20,646 INFO sqlalchemy.engine.Engine [raw sql] {}
<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x7f4a2536ced0>

In [ ]:
# Join the two DataFrame
joined_df = user_data_df.join(user_payment_df, on="username", how="inner")
joined_df.show()

+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|    username| id|first_name|last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|   ibearham0|  1|    Cletus|  Lithcow|      false| 78309 Riverside Way|            Virginia|         1|a799fcafe47d7fb19...|
|    wwaller1|  2|       Caz|   Felgat|      false| 83 Hazelcrest Place|             Alabama|         2|a799fcafe47d7fb19...|
|   ichesnut2|  3|     Kerri|  Crowson|      false|      112 Eliot Pass|      North Carolina|         3|a799fcafe47d7fb19...|
|     tsnarr3|  4|   Freddie|    Caghy|      false|     15 Merchant Way|            New York|         4|a799fcafe47d7fb19...|
|   fwherrit4|  5|   Sadella|    Deuss|      false|    079 Acker Avenue|           Tennessee|         5|a799fcafe47d7fb19...|
|  fstappard5|  6|    Fraser|  Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|  lhambling6|  7|    Demott|   Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|      drude7|  8|    Robert|    Poile|      false|1540 Manitowish Hill|             Georgia|         8|a799fcafe47d7fb19...|
|   bspawton8|  9|    Nollie|     null|       true|       4 Katie Court|                Ohio|         9|a799fcafe47d7fb19...|
| rmackeller9| 10|   Merilyn| Frascone|      false|     387 Duke Street|                Ohio|        10|a799fcafe47d7fb19...|
| cdennerleya| 11|    Rickie| Tredwell|      false|  04 Monterey Center|            Missouri|        11|a799fcafe47d7fb19...|
|    gsarfasb| 12|  Charmane| Connerry|      false|    0 Larry Junction|             Florida|        12|a799fcafe47d7fb19...|
| mpichefordc| 13|     Nerti|   Kerins|      false|    68 Portage Trail|          California|        13|a799fcafe47d7fb19...|
|     bingryd| 14|      Bart|     null|      false|    8 Homewood Court|District of Columbia|        14|a799fcafe47d7fb19...|
|   wheinerte| 15|   Sadella|    Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
|    mdrewetf| 16|     Dicky|  Runnett|      false|  1793 Delaware Park|             Florida|        16|a799fcafe47d7fb19...|
|droughsedgeg| 17|    Hewitt|  Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|     abaakeh| 18|  Gilligan|     Boys|      false|       2 Raven Court|             Florida|        18|a799fcafe47d7fb19...|
|   ydudeniei| 19|       Ted|  Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|   ckermittj| 20|      Darb|   Carrel|      false|406 Park Meadow C...|           Minnesota|        20|a799fcafe47d7fb19...|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
dropna_df = joined_df.dropna()
dropna_df.show()

+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|    username| id|first_name|last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|   ibearham0|  1|    Cletus|  Lithcow|      false| 78309 Riverside Way|            Virginia|         1|a799fcafe47d7fb19...|
|    wwaller1|  2|       Caz|   Felgat|      false| 83 Hazelcrest Place|             Alabama|         2|a799fcafe47d7fb19...|
|   ichesnut2|  3|     Kerri|  Crowson|      false|      112 Eliot Pass|      North Carolina|         3|a799fcafe47d7fb19...|
|     tsnarr3|  4|   Freddie|    Caghy|      false|     15 Merchant Way|            New York|         4|a799fcafe47d7fb19...|
|   fwherrit4|  5|   Sadella|    Deuss|      false|    079 Acker Avenue|           Tennessee|         5|a799fcafe47d7fb19...|
|  fstappard5|  6|    Fraser|  Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|  lhambling6|  7|    Demott|   Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|      drude7|  8|    Robert|    Poile|      false|1540 Manitowish Hill|             Georgia|         8|a799fcafe47d7fb19...|
| rmackeller9| 10|   Merilyn| Frascone|      false|     387 Duke Street|                Ohio|        10|a799fcafe47d7fb19...|
| cdennerleya| 11|    Rickie| Tredwell|      false|  04 Monterey Center|            Missouri|        11|a799fcafe47d7fb19...|
|    gsarfasb| 12|  Charmane| Connerry|      false|    0 Larry Junction|             Florida|        12|a799fcafe47d7fb19...|
| mpichefordc| 13|     Nerti|   Kerins|      false|    68 Portage Trail|          California|        13|a799fcafe47d7fb19...|
|   wheinerte| 15|   Sadella|    Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
|    mdrewetf| 16|     Dicky|  Runnett|      false|  1793 Delaware Park|             Florida|        16|a799fcafe47d7fb19...|
|droughsedgeg| 17|    Hewitt|  Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|     abaakeh| 18|  Gilligan|     Boys|      false|       2 Raven Court|             Florida|        18|a799fcafe47d7fb19...|
|   ydudeniei| 19|       Ted|  Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|   ckermittj| 20|      Darb|   Carrel|      false|406 Park Meadow C...|           Minnesota|        20|a799fcafe47d7fb19...|
|     ipowisk| 21|   Diandra|Cancellor|      false|      1 Fisk Parkway|      North Carolina|        21|a799fcafe47d7fb19...|
|    dtaltonl| 22|    Ulrika| Itzhayek|      false|  890 Lakewood Alley|          California|        22|a799fcafe47d7fb19...|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

cleaned_df = dropna_df.filter(col("active_user") ==True)

In [ ]:
cleaned_df.show()

+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|     username| id|first_name|  last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|   fstappard5|  6|    Fraser|    Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|   lhambling6|  7|    Demott|     Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|    wheinerte| 15|   Sadella|      Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
| droughsedgeg| 17|    Hewitt|    Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|    ydudeniei| 19|       Ted|    Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|     fmyttonm| 23|  Annmarie|     Lafond|       true|     35 Oriole Place|             Georgia|        23|a799fcafe47d7fb19...|
|   bfletcherr| 28|      Toma|     Sokell|       true|39641 Eggendart Hill|            Maryland|        28|a799fcafe47d7fb19...|
|     gturleyt| 30|       Ram|    Lefever|       true|   9969 Laurel Alley|               Texas|        30|a799fcafe47d7fb19...|
|    calyukinu| 31|    Raddie|    Heindle|       true|   811 Talmadge Road|                Ohio|        31|a799fcafe47d7fb19...|
| ckleinlererw| 33|    Wallie|       Caws|       true|   9999 Kenwood Pass|              Oregon|        33|a799fcafe47d7fb19...|
|  pshanklandx| 34|    Derril|Varfolomeev|       true|     4 Jenifer Court|             Florida|        34|a799fcafe47d7fb19...|
|    enelane12| 39|     Kelcy|     Wheway|       true|93207 Morningstar...|             Florida|        39|a799fcafe47d7fb19...|
|    sfollet13| 40|    Dorree|    Rookeby|       true|       2 Troy Circle|          California|        40|a799fcafe47d7fb19...|
|      mtesh14| 41|    Martyn|       Tott|       true|       728 Muir Lane|             Florida|        41|a799fcafe47d7fb19...|
|   tseyfart16| 43|     Cally|      Thody|       true|   1 Graceland Plaza|             Florida|        43|a799fcafe47d7fb19...|
|   hfarrier18| 45|       Ted|   Pittaway|       true|767 Little Fleur ...|      North Carolina|        45|a799fcafe47d7fb19...|
|     nabbie1b| 48|      Fifi|    Lidgley|       true|6744 Sutherland Road|      South Carolina|        48|a799fcafe47d7fb19...|
|  ystadding1d| 50|    Ashely|     O'Hern|       true|   929 Scoville Park|             Florida|        50|a799fcafe47d7fb19...|
|hhallgalley1g| 53|   Diannne|Osbaldeston|       true|        0 Mesta Pass|           Tennessee|        53|a799fcafe47d7fb19...|
|   ageaveny1n| 60|     Sonny|     Jeskin|       true| 50 Sutherland Drive|       Massachusetts|        60|a799fcafe47d7fb19...|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
clean_user_df = cleaned_df.select(["id", "first_name", "last_name", "username"])

In [ ]:
clean_billing_df = cleaned_df.select(["billing_id", "street_address", "state", "username"])

In [ ]:
clean_payment_df = cleaned_df.select(["billing_id", "cc_encrypted"])

In [ ]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://osuawsm16db.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/my_data_class_db"
config = {"user":"postgres",
        "password": password,
        "driver":"org.postgresql.Driver"}

Enter database password··········

In [ ]:
# Write DataFrame to active_user table in RDS
clean_user_df.write.jdbc(url=jdbc_url, table='active_user', mode=mode, properties=config)

# Write dataframe to billing_info table in RDS
clean_billing_df.write.jdbc(url=jdbc_url, table='billing_info', mode=mode, properties=config)

# Write dataframe to payment_info table in RDS
clean_payment_df.write.jdbc(url=jdbc_url, table='payment_info', mode=mode, properties=config)