In [1]:
import pandas as pd

In [2]:
# Read in dataset
census_data_df = pd.read_csv("census_estimates.csv")
census_data_df

,Unnamed: 0,"Revised Population Estimate July 1, 2020","Certified Population Estimate July 1, 2021",Population Change 2020-2021,Percent Change 2020-2021,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Oregon,"4,243,791","4,266,560","22,769",0.54%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAKER,"16,721","16,860",139,0.83%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENTON,"95,316","93,976","-1,340",-1.41%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CLACKAMAS,"422,185","425,316","3,131",0.74%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLATSOP,"41,137","41,428",291,0.71%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,COLUMBIA,"52,748","53,014",266,0.50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,COOS,"64,958","65,154",196,0.30%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CROOK,"24,866","25,482",616,2.48%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CURRY,"23,510","23,662",152,0.65%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DESCHUTES,"199,259","203,390","4,131",2.07%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,DOUGLAS,"111,214","111,694",480,0.43%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,GILLIAM,"1,995","2,039",44,2.21%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,GRANT,"7,239","7,226",-13,-0.18%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,HARNEY,"7,497","7,537",40,0.53%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,HOOD RIVER,"23,949","23,888",-61,-0.25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,JACKSON,"223,521","223,827",306,0.14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,JEFFERSON,"24,553","24,889",336,1.37%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,JOSEPHINE,"88,204","88,728",524,0.59%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,KLAMATH,"69,512","69,822",310,0.45%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LAKE,"8,165","8,177",12,0.15%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,LANE,"383,181","382,647",-534,-0.14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LINCOLN,"50,387","50,903",516,1.02%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,LINN,"128,929","130,440","1,511",1.17%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,MALHEUR,"31,626","31,995",369,1.17%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,MARION,"346,194","347,182",988,0.29%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,MORROW,"12,217","12,635",418,3.42%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,MULTNOMAH,"816,310","820,672","4,362",0.53%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,POLK,"87,916","88,916","1,000",1.14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,SHERMAN,"1,875","1,908",33,1.76%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,TILLAMOOK,"27,447","27,628",181,0.66%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,UMATILLA,"80,169","80,463",294,0.37%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,UNION,"26,729","26,295",-434,-1.62%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,WALLOWA,"7,401","7,433",32,0.43%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,WASCO,"26,642","26,581",-61,-0.23%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,WASHINGTON,"600,895","605,036","4,141",0.69%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,WHEELER,"1,451","1,456",5,0.34%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,YAMHILL,"107,873","108,261",388,0.36%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Get info on df
census_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 15 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  37 non-null     object
 1   Revised Population Estimate July 1, 2020    37 non-null     object
 2   Certified Population Estimate July 1, 2021  37 non-null     object
 3   Population Change 2020-2021                 37 non-null     object
 4   Percent Change 2020-2021                    37 non-null     object
 5   Unnamed: 5                                  0 non-null      float64
 6   Unnamed: 6                                  0 non-null      float64
 7   Unnamed: 7                                  0 non-null      float64
 8   Unnamed: 8                                  0 non-null      float64
 9   Unnamed: 9                                  0 non-null      float64
 10  Unnamed: 10                                 0 non-null      float64
 11  Unnamed: 11                                 0 non-null      float64
 12  Unnamed: 12                                 0 non-null      float64
 13  Unnamed: 13                                 0 non-null      float64
 14  Unnamed: 14                                 0 non-null      float64
dtypes: float64(10), object(5)
memory usage: 5.5+ KB

In [4]:
# Drop Null rows
census_data_df.dropna(axis = 0, how="all", inplace=True)
census_data_df

,Unnamed: 0,"Revised Population Estimate July 1, 2020","Certified Population Estimate July 1, 2021",Population Change 2020-2021,Percent Change 2020-2021,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Oregon,"4,243,791","4,266,560","22,769",0.54%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAKER,"16,721","16,860",139,0.83%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENTON,"95,316","93,976","-1,340",-1.41%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CLACKAMAS,"422,185","425,316","3,131",0.74%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLATSOP,"41,137","41,428",291,0.71%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,COLUMBIA,"52,748","53,014",266,0.50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,COOS,"64,958","65,154",196,0.30%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CROOK,"24,866","25,482",616,2.48%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CURRY,"23,510","23,662",152,0.65%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DESCHUTES,"199,259","203,390","4,131",2.07%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,DOUGLAS,"111,214","111,694",480,0.43%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,GILLIAM,"1,995","2,039",44,2.21%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,GRANT,"7,239","7,226",-13,-0.18%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,HARNEY,"7,497","7,537",40,0.53%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,HOOD RIVER,"23,949","23,888",-61,-0.25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,JACKSON,"223,521","223,827",306,0.14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,JEFFERSON,"24,553","24,889",336,1.37%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,JOSEPHINE,"88,204","88,728",524,0.59%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,KLAMATH,"69,512","69,822",310,0.45%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LAKE,"8,165","8,177",12,0.15%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,LANE,"383,181","382,647",-534,-0.14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LINCOLN,"50,387","50,903",516,1.02%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,LINN,"128,929","130,440","1,511",1.17%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,MALHEUR,"31,626","31,995",369,1.17%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,MARION,"346,194","347,182",988,0.29%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,MORROW,"12,217","12,635",418,3.42%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,MULTNOMAH,"816,310","820,672","4,362",0.53%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,POLK,"87,916","88,916","1,000",1.14%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,SHERMAN,"1,875","1,908",33,1.76%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,TILLAMOOK,"27,447","27,628",181,0.66%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,UMATILLA,"80,169","80,463",294,0.37%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,UNION,"26,729","26,295",-434,-1.62%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,WALLOWA,"7,401","7,433",32,0.43%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,WASCO,"26,642","26,581",-61,-0.23%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,WASHINGTON,"600,895","605,036","4,141",0.69%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,WHEELER,"1,451","1,456",5,0.34%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,YAMHILL,"107,873","108,261",388,0.36%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Drop Null Cols
census_data_df.dropna(axis = 1, how="all", inplace=True)
census_data_df

,Unnamed: 0,"Revised Population Estimate July 1, 2020","Certified Population Estimate July 1, 2021",Population Change 2020-2021,Percent Change 2020-2021
0,Oregon,"4,243,791","4,266,560","22,769",0.54%
1,BAKER,"16,721","16,860",139,0.83%
2,BENTON,"95,316","93,976","-1,340",-1.41%
3,CLACKAMAS,"422,185","425,316","3,131",0.74%
4,CLATSOP,"41,137","41,428",291,0.71%
5,COLUMBIA,"52,748","53,014",266,0.50%
6,COOS,"64,958","65,154",196,0.30%
7,CROOK,"24,866","25,482",616,2.48%
8,CURRY,"23,510","23,662",152,0.65%
9,DESCHUTES,"199,259","203,390","4,131",2.07%
10,DOUGLAS,"111,214","111,694",480,0.43%
11,GILLIAM,"1,995","2,039",44,2.21%
12,GRANT,"7,239","7,226",-13,-0.18%
13,HARNEY,"7,497","7,537",40,0.53%
14,HOOD RIVER,"23,949","23,888",-61,-0.25%
15,JACKSON,"223,521","223,827",306,0.14%
16,JEFFERSON,"24,553","24,889",336,1.37%
17,JOSEPHINE,"88,204","88,728",524,0.59%
18,KLAMATH,"69,512","69,822",310,0.45%
19,LAKE,"8,165","8,177",12,0.15%
20,LANE,"383,181","382,647",-534,-0.14%
21,LINCOLN,"50,387","50,903",516,1.02%
22,LINN,"128,929","130,440","1,511",1.17%
23,MALHEUR,"31,626","31,995",369,1.17%
24,MARION,"346,194","347,182",988,0.29%
25,MORROW,"12,217","12,635",418,3.42%
26,MULTNOMAH,"816,310","820,672","4,362",0.53%
27,POLK,"87,916","88,916","1,000",1.14%
28,SHERMAN,"1,875","1,908",33,1.76%
29,TILLAMOOK,"27,447","27,628",181,0.66%
30,UMATILLA,"80,169","80,463",294,0.37%
31,UNION,"26,729","26,295",-434,-1.62%
32,WALLOWA,"7,401","7,433",32,0.43%
33,WASCO,"26,642","26,581",-61,-0.23%
34,WASHINGTON,"600,895","605,036","4,141",0.69%
35,WHEELER,"1,451","1,456",5,0.34%
36,YAMHILL,"107,873","108,261",388,0.36%

In [6]:
# Assert null vals gone
census_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 0 to 36
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  37 non-null     object
 1   Revised Population Estimate July 1, 2020    37 non-null     object
 2   Certified Population Estimate July 1, 2021  37 non-null     object
 3   Population Change 2020-2021                 37 non-null     object
 4   Percent Change 2020-2021                    37 non-null     object
dtypes: object(5)
memory usage: 1.7+ KB

In [7]:
# Rename Columns
census_data_df.columns = ['county', "revpop2020", "certpop2021", "popchge", "prcntchge"]
census_data_df

          county revpop2020 certpop2021 popchge prcntchge
0        Oregon   4,243,791   4,266,560  22,769     0.54%
1         BAKER      16,721      16,860     139     0.83%
2        BENTON      95,316      93,976  -1,340    -1.41%
3     CLACKAMAS     422,185     425,316   3,131     0.74%
4       CLATSOP      41,137      41,428     291     0.71%
5      COLUMBIA      52,748      53,014     266     0.50%
6          COOS      64,958      65,154     196     0.30%
7         CROOK      24,866      25,482     616     2.48%
8         CURRY      23,510      23,662     152     0.65%
9     DESCHUTES     199,259     203,390   4,131     2.07%
10      DOUGLAS     111,214     111,694     480     0.43%
11      GILLIAM       1,995       2,039      44     2.21%
12        GRANT       7,239       7,226     -13    -0.18%
13       HARNEY       7,497       7,537      40     0.53%
14   HOOD RIVER      23,949      23,888     -61    -0.25%
15      JACKSON     223,521     223,827     306     0.14%
16    JEFFERSON      24,553      24,889     336     1.37%
17    JOSEPHINE      88,204      88,728     524     0.59%
18      KLAMATH      69,512      69,822     310     0.45%
19         LAKE       8,165       8,177      12     0.15%
20         LANE     383,181     382,647    -534    -0.14%
21      LINCOLN      50,387      50,903     516     1.02%
22         LINN     128,929     130,440   1,511     1.17%
23      MALHEUR      31,626      31,995     369     1.17%
24       MARION     346,194     347,182     988     0.29%
25       MORROW      12,217      12,635     418     3.42%
26    MULTNOMAH     816,310     820,672   4,362     0.53%
27         POLK      87,916      88,916   1,000     1.14%
28      SHERMAN       1,875       1,908      33     1.76%
29    TILLAMOOK      27,447      27,628     181     0.66%
30     UMATILLA      80,169      80,463     294     0.37%
31        UNION      26,729      26,295    -434    -1.62%
32      WALLOWA       7,401       7,433      32     0.43%
33        WASCO      26,642      26,581     -61    -0.23%
34   WASHINGTON     600,895     605,036   4,141     0.69%
35      WHEELER       1,451       1,456       5     0.34%
36      YAMHILL     107,873     108,261     388     0.36%

In [8]:
# Python code for implementation of upper() 
# Given string and new string 
census_data_df['county'] = census_data_df['county'].str.title()
census_data_df

          county revpop2020 certpop2021 popchge prcntchge
0        Oregon   4,243,791   4,266,560  22,769     0.54%
1         Baker      16,721      16,860     139     0.83%
2        Benton      95,316      93,976  -1,340    -1.41%
3     Clackamas     422,185     425,316   3,131     0.74%
4       Clatsop      41,137      41,428     291     0.71%
5      Columbia      52,748      53,014     266     0.50%
6          Coos      64,958      65,154     196     0.30%
7         Crook      24,866      25,482     616     2.48%
8         Curry      23,510      23,662     152     0.65%
9     Deschutes     199,259     203,390   4,131     2.07%
10      Douglas     111,214     111,694     480     0.43%
11      Gilliam       1,995       2,039      44     2.21%
12        Grant       7,239       7,226     -13    -0.18%
13       Harney       7,497       7,537      40     0.53%
14   Hood River      23,949      23,888     -61    -0.25%
15      Jackson     223,521     223,827     306     0.14%
16    Jefferson      24,553      24,889     336     1.37%
17    Josephine      88,204      88,728     524     0.59%
18      Klamath      69,512      69,822     310     0.45%
19         Lake       8,165       8,177      12     0.15%
20         Lane     383,181     382,647    -534    -0.14%
21      Lincoln      50,387      50,903     516     1.02%
22         Linn     128,929     130,440   1,511     1.17%
23      Malheur      31,626      31,995     369     1.17%
24       Marion     346,194     347,182     988     0.29%
25       Morrow      12,217      12,635     418     3.42%
26    Multnomah     816,310     820,672   4,362     0.53%
27         Polk      87,916      88,916   1,000     1.14%
28      Sherman       1,875       1,908      33     1.76%
29    Tillamook      27,447      27,628     181     0.66%
30     Umatilla      80,169      80,463     294     0.37%
31        Union      26,729      26,295    -434    -1.62%
32      Wallowa       7,401       7,433      32     0.43%
33        Wasco      26,642      26,581     -61    -0.23%
34   Washington     600,895     605,036   4,141     0.69%
35      Wheeler       1,451       1,456       5     0.34%
36      Yamhill     107,873     108,261     388     0.36%

In [9]:
# Drop Unecessary row
census_data_df = census_data_df.drop(index=[0])

In [11]:
census_data_df.reset_index()
census_data_df

          county revpop2020 certpop2021 popchge prcntchge
1         Baker      16,721      16,860     139     0.83%
2        Benton      95,316      93,976  -1,340    -1.41%
3     Clackamas     422,185     425,316   3,131     0.74%
4       Clatsop      41,137      41,428     291     0.71%
5      Columbia      52,748      53,014     266     0.50%
6          Coos      64,958      65,154     196     0.30%
7         Crook      24,866      25,482     616     2.48%
8         Curry      23,510      23,662     152     0.65%
9     Deschutes     199,259     203,390   4,131     2.07%
10      Douglas     111,214     111,694     480     0.43%
11      Gilliam       1,995       2,039      44     2.21%
12        Grant       7,239       7,226     -13    -0.18%
13       Harney       7,497       7,537      40     0.53%
14   Hood River      23,949      23,888     -61    -0.25%
15      Jackson     223,521     223,827     306     0.14%
16    Jefferson      24,553      24,889     336     1.37%
17    Josephine      88,204      88,728     524     0.59%
18      Klamath      69,512      69,822     310     0.45%
19         Lake       8,165       8,177      12     0.15%
20         Lane     383,181     382,647    -534    -0.14%
21      Lincoln      50,387      50,903     516     1.02%
22         Linn     128,929     130,440   1,511     1.17%
23      Malheur      31,626      31,995     369     1.17%
24       Marion     346,194     347,182     988     0.29%
25       Morrow      12,217      12,635     418     3.42%
26    Multnomah     816,310     820,672   4,362     0.53%
27         Polk      87,916      88,916   1,000     1.14%
28      Sherman       1,875       1,908      33     1.76%
29    Tillamook      27,447      27,628     181     0.66%
30     Umatilla      80,169      80,463     294     0.37%
31        Union      26,729      26,295    -434    -1.62%
32      Wallowa       7,401       7,433      32     0.43%
33        Wasco      26,642      26,581     -61    -0.23%
34   Washington     600,895     605,036   4,141     0.69%
35      Wheeler       1,451       1,456       5     0.34%
36      Yamhill     107,873     108,261     388     0.36%

In [19]:
# export to csv
census_data_df.to_csv("cleanCensusData.csv", sep=',', encoding='utf-8', index=False)