In [3]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [932 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,503 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,765 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [966 kB]
Get:20 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.3 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,199 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,277 kB]
Fetched 12.0 MB in 4s (3,357 kB/s)
Reading package lists... Done

In [4]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-05-23 03:25:25--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.08s

2022-05-23 03:25:25 (11.4 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [6]:
#aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com

# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://myosus32022buk.s3.amazonaws.com/census_estimates.csv"
spark.sparkContext.addFile(url)
CountyPop_df = spark.read.csv(SparkFiles.get("census_estimates.csv"), sep=",", header=True, inferSchema=True)

In [7]:
CountyPop_df.show()

+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
|         _c0|Revised Population Estimate July 1, 2020|Certified Population Estimate July 1, 2021|Population Change 2020-2021|Percent Change 2020-2021| _c5| _c6| _c7| _c8| _c9|_c10|_c11|_c12|_c13|_c14|
+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
|     Oregon |                               4,243,791|                                 4,266,560|                     22,769|                   0.54%|null|null|null|null|null|null|null|null|null|null|
|      BAKER |                                  16,721|                                    16,860|                        139|                   0.83%|null|null|null|null|null|null|null|null|null|null|
|     BENTON |                                  95,316|                                    93,976|                     -1,340|                  -1.41%|null|null|null|null|null|null|null|null|null|null|
|  CLACKAMAS |                                 422,185|                                   425,316|                      3,131|                   0.74%|null|null|null|null|null|null|null|null|null|null|
|    CLATSOP |                                  41,137|                                    41,428|                        291|                   0.71%|null|null|null|null|null|null|null|null|null|null|
|   COLUMBIA |                                  52,748|                                    53,014|                        266|                   0.50%|null|null|null|null|null|null|null|null|null|null|
|       COOS |                                  64,958|                                    65,154|                        196|                   0.30%|null|null|null|null|null|null|null|null|null|null|
|      CROOK |                                  24,866|                                    25,482|                        616|                   2.48%|null|null|null|null|null|null|null|null|null|null|
|      CURRY |                                  23,510|                                    23,662|                        152|                   0.65%|null|null|null|null|null|null|null|null|null|null|
|  DESCHUTES |                                 199,259|                                   203,390|                      4,131|                   2.07%|null|null|null|null|null|null|null|null|null|null|
|    DOUGLAS |                                 111,214|                                   111,694|                        480|                   0.43%|null|null|null|null|null|null|null|null|null|null|
|    GILLIAM |                                   1,995|                                     2,039|                         44|                   2.21%|null|null|null|null|null|null|null|null|null|null|
|      GRANT |                                   7,239|                                     7,226|                        -13|                  -0.18%|null|null|null|null|null|null|null|null|null|null|
|     HARNEY |                                   7,497|                                     7,537|                         40|                   0.53%|null|null|null|null|null|null|null|null|null|null|
| HOOD RIVER |                                  23,949|                                    23,888|                        -61|                  -0.25%|null|null|null|null|null|null|null|null|null|null|
|    JACKSON |                                 223,521|                                   223,827|                        306|                   0.14%|null|null|null|null|null|null|null|null|null|null|
|  JEFFERSON |                                  24,553|                                    24,889|                        336|                   1.37%|null|null|null|null|null|null|null|null|null|null|
|  JOSEPHINE |                                  88,204|                                    88,728|                        524|                   0.59%|null|null|null|null|null|null|null|null|null|null|
|    KLAMATH |                                  69,512|                                    69,822|                        310|                   0.45%|null|null|null|null|null|null|null|null|null|null|
|       LAKE |                                   8,165|                                     8,177|                         12|                   0.15%|null|null|null|null|null|null|null|null|null|null|
+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [8]:
url ="https://myosus32022buk.s3.amazonaws.com/County%20Product%20Trend_Full%20Data_data.csv"
spark.sparkContext.addFile(url)
CountyProductData_df = spark.read.csv(SparkFiles.get("County Product Trend_Full Data_data.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
CountyProductData_df.show()

+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
|     Date|       Product Type|   County|Month Name|Month Year|Tooltip Date|Market Share County|   Sales|Sales Detail|
+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
|10/1/2016|          Usable MJ|    Baker|   October| 10/1/2016|October 2016|              100.0|58637.51|    58637.51|
|10/1/2016|          Usable MJ|    Baker|   October| 10/1/2016|October 2016|              100.0|   441.0|       441.0|
|10/1/2016|Concentrate/Extract|Clackamas|   October| 10/1/2016|October 2016|              15.14|   803.2|       803.2|
|10/1/2016|    Edible/Tincture|Clackamas|   October| 10/1/2016|October 2016|               9.31|  359.68|      359.68|
|10/1/2016|              Other|Clackamas|   October| 10/1/2016|October 2016|               1.13|    30.0|        30.0|
|10/1/2016|          Usable MJ|Clackamas|   October| 10/1/2016|October 2016|              74.42| 4416.94|     4416.94|
|10/1/2016|Concentrate/Extract|Clackamas|   October| 10/1/2016|October 2016|              15.14|   144.0|       144.0|
|10/1/2016|    Edible/Tincture|Clackamas|   October| 10/1/2016|October 2016|               9.31|  223.05|      223.05|
|10/1/2016|              Other|Clackamas|   October| 10/1/2016|October 2016|               1.13|    40.5|        40.5|
|10/1/2016|          Usable MJ|Clackamas|   October| 10/1/2016|October 2016|              74.42|   238.8|       238.8|
|10/1/2016|Concentrate/Extract|  Clatsop|   October| 10/1/2016|October 2016|              19.55| 10808.0|     10808.0|
|10/1/2016|    Edible/Tincture|  Clatsop|   October| 10/1/2016|October 2016|               5.61|  3177.0|      3177.0|
|10/1/2016|              Other|  Clatsop|   October| 10/1/2016|October 2016|               1.79|  1014.0|      1014.0|
|10/1/2016|          Usable MJ|  Clatsop|   October| 10/1/2016|October 2016|              73.04|42128.05|    42128.05|
|10/1/2016|Concentrate/Extract|  Clatsop|   October| 10/1/2016|October 2016|              19.55|  2249.0|      2249.0|
|10/1/2016|    Edible/Tincture|  Clatsop|   October| 10/1/2016|October 2016|               5.61|   570.5|       570.5|
|10/1/2016|              Other|  Clatsop|   October| 10/1/2016|October 2016|               1.79|   184.0|       184.0|
|10/1/2016|          Usable MJ|  Clatsop|   October| 10/1/2016|October 2016|              73.04| 6653.24|     6653.24|
|10/1/2016|Concentrate/Extract|Deschutes|   October| 10/1/2016|October 2016|              12.36| 9588.78|     9588.78|
|10/1/2016|    Edible/Tincture|Deschutes|   October| 10/1/2016|October 2016|               8.56| 6546.11|     6546.11|
+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
only showing top 20 rows

In [12]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
#aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com
jdbc_url="jdbc:postgresql://aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/AWSFP20"
config = {"user":"postgres",
        "password": password,
        "driver":"org.postgresql.Driver"}

Enter database password··········

In [13]:
# Write DataFrame to CountyPop table in RDS
CountyPop_df.write.jdbc(url=jdbc_url, table='CountyPopTest', mode=mode, properties=config)

In [ ]:
# Write DataFrame to CanabisData table in RDS
CountyProductData_df.write.jdbc(url=jdbc_url, table='CanabisData', mode=mode, properties=config)

In [ ]:
# Join the two DataFrame
joined_df = user_data_df.join(user_payment_df, on="username", how="inner")
joined_df.show()

+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|    username| id|first_name|last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|   ibearham0|  1|    Cletus|  Lithcow|      false| 78309 Riverside Way|            Virginia|         1|a799fcafe47d7fb19...|
|    wwaller1|  2|       Caz|   Felgat|      false| 83 Hazelcrest Place|             Alabama|         2|a799fcafe47d7fb19...|
|   ichesnut2|  3|     Kerri|  Crowson|      false|      112 Eliot Pass|      North Carolina|         3|a799fcafe47d7fb19...|
|     tsnarr3|  4|   Freddie|    Caghy|      false|     15 Merchant Way|            New York|         4|a799fcafe47d7fb19...|
|   fwherrit4|  5|   Sadella|    Deuss|      false|    079 Acker Avenue|           Tennessee|         5|a799fcafe47d7fb19...|
|  fstappard5|  6|    Fraser|  Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|  lhambling6|  7|    Demott|   Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|      drude7|  8|    Robert|    Poile|      false|1540 Manitowish Hill|             Georgia|         8|a799fcafe47d7fb19...|
|   bspawton8|  9|    Nollie|     null|       true|       4 Katie Court|                Ohio|         9|a799fcafe47d7fb19...|
| rmackeller9| 10|   Merilyn| Frascone|      false|     387 Duke Street|                Ohio|        10|a799fcafe47d7fb19...|
| cdennerleya| 11|    Rickie| Tredwell|      false|  04 Monterey Center|            Missouri|        11|a799fcafe47d7fb19...|
|    gsarfasb| 12|  Charmane| Connerry|      false|    0 Larry Junction|             Florida|        12|a799fcafe47d7fb19...|
| mpichefordc| 13|     Nerti|   Kerins|      false|    68 Portage Trail|          California|        13|a799fcafe47d7fb19...|
|     bingryd| 14|      Bart|     null|      false|    8 Homewood Court|District of Columbia|        14|a799fcafe47d7fb19...|
|   wheinerte| 15|   Sadella|    Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
|    mdrewetf| 16|     Dicky|  Runnett|      false|  1793 Delaware Park|             Florida|        16|a799fcafe47d7fb19...|
|droughsedgeg| 17|    Hewitt|  Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|     abaakeh| 18|  Gilligan|     Boys|      false|       2 Raven Court|             Florida|        18|a799fcafe47d7fb19...|
|   ydudeniei| 19|       Ted|  Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|   ckermittj| 20|      Darb|   Carrel|      false|406 Park Meadow C...|           Minnesota|        20|a799fcafe47d7fb19...|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
dropna_df = joined_df.dropna()
dropna_df.show()

+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|    username| id|first_name|last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
|   ibearham0|  1|    Cletus|  Lithcow|      false| 78309 Riverside Way|            Virginia|         1|a799fcafe47d7fb19...|
|    wwaller1|  2|       Caz|   Felgat|      false| 83 Hazelcrest Place|             Alabama|         2|a799fcafe47d7fb19...|
|   ichesnut2|  3|     Kerri|  Crowson|      false|      112 Eliot Pass|      North Carolina|         3|a799fcafe47d7fb19...|
|     tsnarr3|  4|   Freddie|    Caghy|      false|     15 Merchant Way|            New York|         4|a799fcafe47d7fb19...|
|   fwherrit4|  5|   Sadella|    Deuss|      false|    079 Acker Avenue|           Tennessee|         5|a799fcafe47d7fb19...|
|  fstappard5|  6|    Fraser|  Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|  lhambling6|  7|    Demott|   Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|      drude7|  8|    Robert|    Poile|      false|1540 Manitowish Hill|             Georgia|         8|a799fcafe47d7fb19...|
| rmackeller9| 10|   Merilyn| Frascone|      false|     387 Duke Street|                Ohio|        10|a799fcafe47d7fb19...|
| cdennerleya| 11|    Rickie| Tredwell|      false|  04 Monterey Center|            Missouri|        11|a799fcafe47d7fb19...|
|    gsarfasb| 12|  Charmane| Connerry|      false|    0 Larry Junction|             Florida|        12|a799fcafe47d7fb19...|
| mpichefordc| 13|     Nerti|   Kerins|      false|    68 Portage Trail|          California|        13|a799fcafe47d7fb19...|
|   wheinerte| 15|   Sadella|    Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
|    mdrewetf| 16|     Dicky|  Runnett|      false|  1793 Delaware Park|             Florida|        16|a799fcafe47d7fb19...|
|droughsedgeg| 17|    Hewitt|  Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|     abaakeh| 18|  Gilligan|     Boys|      false|       2 Raven Court|             Florida|        18|a799fcafe47d7fb19...|
|   ydudeniei| 19|       Ted|  Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|   ckermittj| 20|      Darb|   Carrel|      false|406 Park Meadow C...|           Minnesota|        20|a799fcafe47d7fb19...|
|     ipowisk| 21|   Diandra|Cancellor|      false|      1 Fisk Parkway|      North Carolina|        21|a799fcafe47d7fb19...|
|    dtaltonl| 22|    Ulrika| Itzhayek|      false|  890 Lakewood Alley|          California|        22|a799fcafe47d7fb19...|
+------------+---+----------+---------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

cleaned_df = dropna_df.filter(col("active_user") ==True)

In [ ]:
cleaned_df.show()

+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|     username| id|first_name|  last_name|active_user|      street_address|               state|billing_id|        cc_encrypted|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
|   fstappard5|  6|    Fraser|    Korneev|       true|  76084 Novick Court|           Minnesota|         6|a799fcafe47d7fb19...|
|   lhambling6|  7|    Demott|     Rapson|       true|    86320 Dahle Park|District of Columbia|         7|a799fcafe47d7fb19...|
|    wheinerte| 15|   Sadella|      Jaram|       true|7528 Waxwing Terrace|         Connecticut|        15|a799fcafe47d7fb19...|
| droughsedgeg| 17|    Hewitt|    Trammel|       true|    2455 Corry Alley|      North Carolina|        17|a799fcafe47d7fb19...|
|    ydudeniei| 19|       Ted|    Knowlys|       true|      31 South Drive|                Ohio|        19|a799fcafe47d7fb19...|
|     fmyttonm| 23|  Annmarie|     Lafond|       true|     35 Oriole Place|             Georgia|        23|a799fcafe47d7fb19...|
|   bfletcherr| 28|      Toma|     Sokell|       true|39641 Eggendart Hill|            Maryland|        28|a799fcafe47d7fb19...|
|     gturleyt| 30|       Ram|    Lefever|       true|   9969 Laurel Alley|               Texas|        30|a799fcafe47d7fb19...|
|    calyukinu| 31|    Raddie|    Heindle|       true|   811 Talmadge Road|                Ohio|        31|a799fcafe47d7fb19...|
| ckleinlererw| 33|    Wallie|       Caws|       true|   9999 Kenwood Pass|              Oregon|        33|a799fcafe47d7fb19...|
|  pshanklandx| 34|    Derril|Varfolomeev|       true|     4 Jenifer Court|             Florida|        34|a799fcafe47d7fb19...|
|    enelane12| 39|     Kelcy|     Wheway|       true|93207 Morningstar...|             Florida|        39|a799fcafe47d7fb19...|
|    sfollet13| 40|    Dorree|    Rookeby|       true|       2 Troy Circle|          California|        40|a799fcafe47d7fb19...|
|      mtesh14| 41|    Martyn|       Tott|       true|       728 Muir Lane|             Florida|        41|a799fcafe47d7fb19...|
|   tseyfart16| 43|     Cally|      Thody|       true|   1 Graceland Plaza|             Florida|        43|a799fcafe47d7fb19...|
|   hfarrier18| 45|       Ted|   Pittaway|       true|767 Little Fleur ...|      North Carolina|        45|a799fcafe47d7fb19...|
|     nabbie1b| 48|      Fifi|    Lidgley|       true|6744 Sutherland Road|      South Carolina|        48|a799fcafe47d7fb19...|
|  ystadding1d| 50|    Ashely|     O'Hern|       true|   929 Scoville Park|             Florida|        50|a799fcafe47d7fb19...|
|hhallgalley1g| 53|   Diannne|Osbaldeston|       true|        0 Mesta Pass|           Tennessee|        53|a799fcafe47d7fb19...|
|   ageaveny1n| 60|     Sonny|     Jeskin|       true| 50 Sutherland Drive|       Massachusetts|        60|a799fcafe47d7fb19...|
+-------------+---+----------+-----------+-----------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [ ]:
clean_user_df = cleaned_df.select(["id", "first_name", "last_name", "username"])

In [ ]:
clean_billing_df = cleaned_df.select(["billing_id", "street_address", "state", "username"])

In [ ]:
clean_payment_df = cleaned_df.select(["billing_id", "cc_encrypted"])

In [ ]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://osuawsm16db.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/my_data_class_db"
config = {"user":"postgres",
        "password": password,
        "driver":"org.postgresql.Driver"}

Enter database password··········

In [ ]:
# Write DataFrame to active_user table in RDS
clean_user_df.write.jdbc(url=jdbc_url, table='active_user', mode=mode, properties=config)

# Write dataframe to billing_info table in RDS
clean_billing_df.write.jdbc(url=jdbc_url, table='billing_info', mode=mode, properties=config)

# Write dataframe to payment_info table in RDS
clean_payment_df.write.jdbc(url=jdbc_url, table='payment_info', mode=mode, properties=config)